/*

  color

*/
/* tag */
/* brown */
.notion-dark-theme [style*="background: rgba(255, 134, 49, 0.33);"] {
  background: #4d382a !important;
}
/* orange */
.notion-dark-theme [style*="background: rgba(255, 134, 49, 0.33);"] {
  background: #935c36 !important;
}
/* blue */
.notion-dark-theme [style*="background: rgba(59, 152, 255, 0.384);"] {
  background: #4646b9 !important;
}
/* yellow */
.notion-dark-theme [style*="background: rgba(255, 212, 111, 0.255);"] {
  background: #93931e !important;
}
/* green */
.notion-dark-theme [style*="background: rgba(93, 255, 164, 0.25);"] {
  background: #31513f !important;
}
/* purple */
.notion-dark-theme [style*="background: rgba(197, 123, 255, 0.345);"] {
  background: #6c2d9d !important;
}
/* pink */
.notion-dark-theme [style*="background: rgba(255, 107, 180, 0.34);"] {
  background: #733b59 !important;
}
/* red */
.notion-dark-theme [style*="background: rgba(255, 102, 91, 0.365);"] {
  background: #873636 !important;
}
