/*

  layout

*/
/* side peek */
:not(svg).layout.layout-side-peek {
  padding-bottom: calc(200px + 40vh) !important;
}
/* center peek */
:not(svg).layout.layout-center-peek {
  padding-bottom: calc(175px + 30vh) !important;
}
/* full page */
:not(svg).layout:not(.layout-center-peek):not(.layout-side-peek) {
  padding-bottom: calc(200px + 40vh)  !important;
}
/* input area */
.notion-page-content:not(:has(.notion-selectable.notion-page-block.notion-collection-item)) {
  text-align: justify;
}
/* contents display at gallery view item */
.notion-selectable.notion-page-block.notion-collection-item > a > div:first-child {
  opacity: 0.7;
}
/* "#" heading */
h2 {
  font-size: 32px !important;
  border-bottom: 1px solid #f8f8f2;
}
/* "##" heading */
h3 {
  font-size: 26px !important;
}
/* "###" heading */
h4 {
  font-size: 20px !important;
}
/* all heading at normal state */
.notion-page-content > div:has(h2),
.notion-page-content > div:has(h3),
.notion-page-content > div:has(h4) {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
/* "#" heading at under sibling element */
.notion-page-content > div + div:has(h2) {
  margin-top: 2em !important;
}
/* "##" heading at under sibling element */
.notion-page-content > div:not(:has(h2)) + div:has(h3){
  margin-top: 1.5em !important;
}
/* "###" heading at under sibling element */
.notion-page-content > div:not(:has(h3)) + div:has(h4) {
  margin-top: 1em !important;
}
/* "#" heading displays an underscore, so the margin-top is increased by that amount. */
.notion-selectable:has(h2) + .notion-selectable {
  margin-top: 1em !important;
}
/* allways show vertical scrollbar
   & hidden horizontal scrollbar in linked database view on the pages */
.notion-scroller.vertical.horizontal,
.notion-selectable.notion-collection_view-block .notion-scroller.horizontal.notion-collection-view-body {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}
